@import "fonts/styles.scss";

#main {
    width: 100%;
    max-width: 768px;
    min-height: 1000px;
    text-align: center;
    background: #fff;
    margin: 0 auto;
    padding: 20px 0;
}


.manuscript_paper_input_wrap {
    width: calc(100% - 40px);
    height: calc(20em + 40px + 36px);
    box-sizing: border-box;
    color: #5a5a5a;
    box-shadow: 1px 1px 4px 1px #d6d6d6a8;
    text-align: left;
    margin: 20px;
    margin-bottom: 0;
    letter-spacing: 2px;
    line-height: 2rem;
    writing-mode: tb-rl;
    writing-mode: vertical-rl;
    -moz-writing-mode: vertical-rl;
    -o-writing-mode: vertical-rl;
    -webkit-writing-mode: vertical-rl;
    text-orientation: upright;
    word-break: break-all;
    overflow-wrap: break-word;
    position: relative;
    font-family: "Favorites", monospace, serif;

    & > div {
        width: 100%;
        height: 100%;
        padding: 10px 10px 26px 10px;
        box-sizing: border-box;
        word-break: break-all;
        overflow-wrap: break-word;
        overflow-x: auto;
        overflow-y: hidden;
    }

    .manuscript_paper_input {
        background: #f7f7f7;
    }

    .manuscript_paper_view {
        background: white;
        position: absolute;
        top: 0;
        right: 0;

        span {
            position: relative;
            font-size: 0;
            display: inline-block;
            letter-spacing: 0;

            &:before {
                position: absolute;
                right: 0;
                top: 0;
                width: 1em;
                height: 1em;
                font-size: 1rem;
            }

            &.hanging_comma:before {
                content: "、";
            }

            &.hanging_period:before {
                content: "。";
            }
        }
    }
}

.manuscript_paper_page {
    width: 100%;
    padding: 15px;
    text-align: center;
    box-sizing: border-box;
}

.saveText, .copyText {
    width: calc(100% - 40px);
    background: #0068b7;
    outline: none;
    border: none;
    margin: 20px 20px 0 20px;
    box-sizing: border-box;
    color: white;
    padding: 5px 10px;
    font-weight: bold;
    box-shadow: 1px 1px 4px 1px #9c9c9ca8;
}

.manuscript_paper_bar_wrap {
    margin: 0 20px 20px 20px;
    width: calc(100% - 40px);
    height: 40px;
    overflow-x: scroll;
    overflow-y: hidden;
    background: #f9f9f9;
    box-sizing: border-box;

    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display:none;
    }
    .manuscript_paper_bar {
        padding: 10px;
        width: 100%;
        height: 100%;
        -ms-writing-mode: tb-rl;
        writing-mode: vertical-rl;
        -webkit-text-combine: horizontal;
        -ms-text-combine-horizontal: all;
        text-combine-upright: all;
        text-align: right;
        box-sizing: border-box;
        letter-spacing: 2px;
        line-height: 2rem;
        font-family: "Favorites", monospace, serif;
        // background: repeating-linear-gradient( 90deg, red 0, red 1px, white 1px, white 100px);
        // background-position: top right;
    }
}

.copyText {
    background: #bbb;
}

input[name="emc_title"] {
    width: calc(100% - 40px);
    background: none;
    outline: none;
    border: none;
    margin: 20px 20px 0 20px;
    box-sizing: border-box;
    box-shadow: 1px 1px 4px 1px #d6d6d6a8;
    &::placeholder {
      color: #9c9c9c;
    }
}

@media screen and (max-width:767px){
    #main {
        width: 100%;
        max-width: 100%;
    }
    .manuscript_paper_input_wrap {
        height: calc(20em + 40px);
        letter-spacing: 0;
        font-size: 14px;
        & > div {
        }
        .manuscript_paper_input {
        }
        .manuscript_paper_view {
            // &:after {
            //     right: 4px;
            //     width: calc(200% - 8px);
            // }
        }
    }
}
