// Variables
// --------------------------

$icons8-css-prefix: "icons8";
$icons8-font-name: "Favorites";
$icons8-font-path: "../fonts";

$icons8-var-99: "\f100";
$icons8-var-98: "\f101";
$icons8-var-97: "\f102";
$icons8-var-96: "\f103";
$icons8-var-95: "\f104";
$icons8-var-94: "\f105";
$icons8-var-93: "\f106";
$icons8-var-92: "\f107";
$icons8-var-91: "\f108";
$icons8-var-90: "\f109";
$icons8-var-11: "\f10a";
$icons8-var-9: "\f10b";
$icons8-var-89: "\f10c";
$icons8-var-88: "\f10d";
$icons8-var-80: "\f10e";
$icons8-var-81: "\f10f";
$icons8-var-82: "\f110";
$icons8-var-83: "\f111";
$icons8-var-84: "\f112";
$icons8-var-85: "\f113";
$icons8-var-86: "\f114";
$icons8-var-87: "\f115";
$icons8-var-73: "\f116";
$icons8-var-74: "\f117";
$icons8-var-75: "\f118";
$icons8-var-76: "\f119";
$icons8-var-77: "\f11a";
$icons8-var-78: "\f11b";
$icons8-var-79: "\f11c";
$icons8-var-8: "\f11d";
$icons8-var-72: "\f11e";
$icons8-var-71: "\f11f";
$icons8-var-70: "\f120";
$icons8-var-7: "\f121";
$icons8-var-69: "\f122";
$icons8-var-68: "\f123";
$icons8-var-67: "\f124";
$icons8-var-66: "\f125";
$icons8-var-59: "\f126";
$icons8-var-6: "\f127";
$icons8-var-60: "\f128";
$icons8-var-61: "\f129";
$icons8-var-62: "\f12a";
$icons8-var-63: "\f12b";
$icons8-var-64: "\f12c";
$icons8-var-65: "\f12d";
$icons8-var-58: "\f12e";
$icons8-var-57: "\f12f";
$icons8-var-56: "\f130";
$icons8-var-55: "\f131";
$icons8-var-54: "\f132";
$icons8-var-53: "\f133";
$icons8-var-52: "\f134";
$icons8-var-51: "\f135";
$icons8-var-44: "\f136";
$icons8-var-45: "\f137";
$icons8-var-46: "\f138";
$icons8-var-47: "\f139";
$icons8-var-48: "\f13a";
$icons8-var-49: "\f13b";
$icons8-var-5: "\f13c";
$icons8-var-50: "\f13d";
$icons8-var-43: "\f13e";
$icons8-var-42: "\f13f";
$icons8-var-41: "\f140";
$icons8-var-40: "\f141";
$icons8-var-4: "\f142";
$icons8-var-39: "\f143";
$icons8-var-38: "\f144";
$icons8-var-37: "\f145";
$icons8-var-3: "\f146";
$icons8-var-30: "\f147";
$icons8-var-31: "\f148";
$icons8-var-32: "\f149";
$icons8-var-33: "\f14a";
$icons8-var-34: "\f14b";
$icons8-var-35: "\f14c";
$icons8-var-36: "\f14d";
$icons8-var-29: "\f14e";
$icons8-var-28: "\f14f";
$icons8-var-27: "\f150";
$icons8-var-26: "\f151";
$icons8-var-25: "\f152";
$icons8-var-24: "\f153";
$icons8-var-23: "\f154";
$icons8-var-22: "\f155";
$icons8-var-15: "\f156";
$icons8-var-16: "\f157";
$icons8-var-17: "\f158";
$icons8-var-18: "\f159";
$icons8-var-19: "\f15a";
$icons8-var-2: "\f15b";
$icons8-var-20: "\f15c";
$icons8-var-21: "\f15d";
$icons8-var-14: "\f15e";
$icons8-var-13: "\f15f";
$icons8-var-12: "\f160";
$icons8-var-100: "\f161";
$icons8-var-10: "\f162";
$icons8-var-1: "\f163";
$icons8-var---: "\f164";
