@charset "UTF-8";
/*!
 * Icon Font Favorites
 * Made with love by Icons8 [ https://icons8.com/ ] using webfont [ https://github.com/itgalaxy/webfont ]
 *
 * Contacts:
 *    [ https://icons8.com/contact ]
 *
 * Follow Icon8 on
 *    Twitter [ https://twitter.com/icons_8 ]
 *    Facebook [ https://www.facebook.com/Icons8 ]
 *    Google+ [ https://plus.google.com/+Icons8 ]
 *    GitHub [ https://github.com/icons8 ]
 */
@font-face {
  font-family: "Favorites";
  src: url("../fonts/Favorites.eot");
  src: url("../fonts/Favorites.eot?#iefix") format("embedded-opentype"), url("../fonts/Favorites.woff2") format("woff2"), url("../fonts/Favorites.woff") format("woff"), url("../fonts/Favorites.ttf") format("truetype"), url("../fonts/Favorites.svg#font") format("svg");
  font-weight: normal;
  font-style: normal; }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Favorites";
    src: url("../fonts/Favorites.svg#Favorites") format("svg"); } }
.icons8-99:before,
.icons8-98:before,
.icons8-97:before,
.icons8-96:before,
.icons8-95:before,
.icons8-94:before,
.icons8-93:before,
.icons8-92:before,
.icons8-91:before,
.icons8-90:before,
.icons8-11:before,
.icons8-9:before,
.icons8-89:before,
.icons8-88:before,
.icons8-80:before,
.icons8-81:before,
.icons8-82:before,
.icons8-83:before,
.icons8-84:before,
.icons8-85:before,
.icons8-86:before,
.icons8-87:before,
.icons8-73:before,
.icons8-74:before,
.icons8-75:before,
.icons8-76:before,
.icons8-77:before,
.icons8-78:before,
.icons8-79:before,
.icons8-8:before,
.icons8-72:before,
.icons8-71:before,
.icons8-70:before,
.icons8-7:before,
.icons8-69:before,
.icons8-68:before,
.icons8-67:before,
.icons8-66:before,
.icons8-59:before,
.icons8-6:before,
.icons8-60:before,
.icons8-61:before,
.icons8-62:before,
.icons8-63:before,
.icons8-64:before,
.icons8-65:before,
.icons8-58:before,
.icons8-57:before,
.icons8-56:before,
.icons8-55:before,
.icons8-54:before,
.icons8-53:before,
.icons8-52:before,
.icons8-51:before,
.icons8-44:before,
.icons8-45:before,
.icons8-46:before,
.icons8-47:before,
.icons8-48:before,
.icons8-49:before,
.icons8-5:before,
.icons8-50:before,
.icons8-43:before,
.icons8-42:before,
.icons8-41:before,
.icons8-40:before,
.icons8-4:before,
.icons8-39:before,
.icons8-38:before,
.icons8-37:before,
.icons8-3:before,
.icons8-30:before,
.icons8-31:before,
.icons8-32:before,
.icons8-33:before,
.icons8-34:before,
.icons8-35:before,
.icons8-36:before,
.icons8-29:before,
.icons8-28:before,
.icons8-27:before,
.icons8-26:before,
.icons8-25:before,
.icons8-24:before,
.icons8-23:before,
.icons8-22:before,
.icons8-15:before,
.icons8-16:before,
.icons8-17:before,
.icons8-18:before,
.icons8-19:before,
.icons8-2:before,
.icons8-20:before,
.icons8-21:before,
.icons8-14:before,
.icons8-13:before,
.icons8-12:before,
.icons8-100:before,
.icons8-10:before,
.icons8-1:before,
.icons8---:before,
[data-icons8]:before {
  display: inline-block;
  font-family: "Favorites";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased; }

[data-icons8]:before {
  content: attr(data-icons8); }

.icons8-99:before {
  content: ""; }

.icons8-98:before {
  content: ""; }

.icons8-97:before {
  content: ""; }

.icons8-96:before {
  content: ""; }

.icons8-95:before {
  content: ""; }

.icons8-94:before {
  content: ""; }

.icons8-93:before {
  content: ""; }

.icons8-92:before {
  content: ""; }

.icons8-91:before {
  content: ""; }

.icons8-90:before {
  content: ""; }

.icons8-11:before {
  content: ""; }

.icons8-9:before {
  content: ""; }

.icons8-89:before {
  content: ""; }

.icons8-88:before {
  content: ""; }

.icons8-80:before {
  content: ""; }

.icons8-81:before {
  content: ""; }

.icons8-82:before {
  content: ""; }

.icons8-83:before {
  content: ""; }

.icons8-84:before {
  content: ""; }

.icons8-85:before {
  content: ""; }

.icons8-86:before {
  content: ""; }

.icons8-87:before {
  content: ""; }

.icons8-73:before {
  content: ""; }

.icons8-74:before {
  content: ""; }

.icons8-75:before {
  content: ""; }

.icons8-76:before {
  content: ""; }

.icons8-77:before {
  content: ""; }

.icons8-78:before {
  content: ""; }

.icons8-79:before {
  content: ""; }

.icons8-8:before {
  content: ""; }

.icons8-72:before {
  content: ""; }

.icons8-71:before {
  content: ""; }

.icons8-70:before {
  content: ""; }

.icons8-7:before {
  content: ""; }

.icons8-69:before {
  content: ""; }

.icons8-68:before {
  content: ""; }

.icons8-67:before {
  content: ""; }

.icons8-66:before {
  content: ""; }

.icons8-59:before {
  content: ""; }

.icons8-6:before {
  content: ""; }

.icons8-60:before {
  content: ""; }

.icons8-61:before {
  content: ""; }

.icons8-62:before {
  content: ""; }

.icons8-63:before {
  content: ""; }

.icons8-64:before {
  content: ""; }

.icons8-65:before {
  content: ""; }

.icons8-58:before {
  content: ""; }

.icons8-57:before {
  content: ""; }

.icons8-56:before {
  content: ""; }

.icons8-55:before {
  content: ""; }

.icons8-54:before {
  content: ""; }

.icons8-53:before {
  content: ""; }

.icons8-52:before {
  content: ""; }

.icons8-51:before {
  content: ""; }

.icons8-44:before {
  content: ""; }

.icons8-45:before {
  content: ""; }

.icons8-46:before {
  content: ""; }

.icons8-47:before {
  content: ""; }

.icons8-48:before {
  content: ""; }

.icons8-49:before {
  content: ""; }

.icons8-5:before {
  content: ""; }

.icons8-50:before {
  content: ""; }

.icons8-43:before {
  content: ""; }

.icons8-42:before {
  content: ""; }

.icons8-41:before {
  content: ""; }

.icons8-40:before {
  content: ""; }

.icons8-4:before {
  content: ""; }

.icons8-39:before {
  content: ""; }

.icons8-38:before {
  content: ""; }

.icons8-37:before {
  content: ""; }

.icons8-3:before {
  content: ""; }

.icons8-30:before {
  content: ""; }

.icons8-31:before {
  content: ""; }

.icons8-32:before {
  content: ""; }

.icons8-33:before {
  content: ""; }

.icons8-34:before {
  content: ""; }

.icons8-35:before {
  content: ""; }

.icons8-36:before {
  content: ""; }

.icons8-29:before {
  content: ""; }

.icons8-28:before {
  content: ""; }

.icons8-27:before {
  content: ""; }

.icons8-26:before {
  content: ""; }

.icons8-25:before {
  content: ""; }

.icons8-24:before {
  content: ""; }

.icons8-23:before {
  content: ""; }

.icons8-22:before {
  content: ""; }

.icons8-15:before {
  content: ""; }

.icons8-16:before {
  content: ""; }

.icons8-17:before {
  content: ""; }

.icons8-18:before {
  content: ""; }

.icons8-19:before {
  content: ""; }

.icons8-2:before {
  content: ""; }

.icons8-20:before {
  content: ""; }

.icons8-21:before {
  content: ""; }

.icons8-14:before {
  content: ""; }

.icons8-13:before {
  content: ""; }

.icons8-12:before {
  content: ""; }

.icons8-100:before {
  content: ""; }

.icons8-10:before {
  content: ""; }

.icons8-1:before {
  content: ""; }

.icons8---:before {
  content: ""; }

/*# sourceMappingURL=styles.css.map */
